@import url("https://fonts.googleapis.com/css?family=Courier%20Prime&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", sans-serif;
}

.video-overlay {
  margin-top: 5%;
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  color: rgb(220, 209, 63);
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 300 64px/1 "Josefin Sans", sans-serif;
  text-align: center;
  white-space: nowrap;
}

.hero {
  margin-top: 20px;
}

.program {
  margin-top: 20px;
}

.gallery {
  margin-top: 20px;
}

.maps {
  /*position: absolute;*/
  margin-top: 20px;
  /*  background: rgba(0,0,0,0.5);*/
  top: 5%;
  text-align: center;
  padding-top: 5%;
  width: 100%;
}

.detail {
  text-align: left;
}

.container-gallery {
  margin: 10px;
}

.video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #e1e1e1;
  font-family: "Pangolin", cursive;
}

h1 {
  text-align: center;
  padding-top: 200px;
  font-size: 2.5vw;
  color: #333;
  letter-spacing: 2px;
}

footer {
  margin-top: 110vh;
  text-align: center;
  font-size: 12px;
  font-family: arial;
}

.fade {
  opacity: 0;
  transition: 1s all ease-out;
}

.arrow-down {
  width: 60px;
  height: 40px;
  margin: 0 0 0 -30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  -webkit-animation-play-state: paused;
}

.left {
  position: absolute;
  height: 10px;
  width: 40px;
  background: black;
  -webkit-transform: rotate(240deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: black;
  -webkit-transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  -webkit-border-radius: 4px;
  -webkit-transform-origin: 5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 40px;
  }
}
@-webkit-keyframes leftArrow {
  100% {
    -webkit-transform: rotate(225deg);
  }
}
@-webkit-keyframes rightArrow {
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/*# sourceMappingURL=style.css.map */
